<template>
    <v-container>
        <v-layout>
            <v-flex>
                <h1 class="font-weight-bold">BOOKS</h1>
                <v-card
                    class="mx-auto mb-9"
                    max-width="344"
                    v-for="(book, i) in allBooks"
                    :key="i"
                    @click="goToBook(book._id)"
                >
                    <v-card-text>
                        <div class="display-1 text--primary text-center">{{ book.name }}</div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    computed: {
        ...mapGetters({
            allBooks: 'book/allBooks'
        })
    },
    methods: {
        ...mapActions({
            fetchEndpoitn: 'endpoint/fetchEndpoint'
        }),
        goToBook(id) {
            this.$router.push(`/book/${id}`)
        }
    },
    async mounted() {
        this.fetchEndpoitn('book', 'updateBooks')
    },
}
</script>