<template>
    <v-container>
        <h1 class="font-weight-bold">HOME</h1>
        <div class="section"></div>
    </v-container>
</template>

<style lang="scss" scoped>
    .container {
        max-width: 100% !important;
    }
    h1 {
        position: absolute;
        right: 0;
        top: 10vh;
        z-index: 9999
    }
    .section {
        width: 100%;
        height: 92vh;
        position: relative;
        background: url('../static/The_Lady_With_The_Ermine_by_Leonardo_Da_Vinci_P69.jpg');
        background-repeat: no-repeat;
                background-size: contain;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../static/The_Lady_With_The_Ermine_by_Leonardo_Da_Vinci_P69.jpg');
                opacity: 0.5;
                mix-blend-mode: hard-light;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover::before {
                animation: animate .2s linear infinite;
            }

            @keyframes animate {
                0% {
                    background-position: 0 0;
                    filter: hue-rotate(0deg);
                }
                10% {
                    background-position: 5px 0;
                }
                20% {
                    background-position: -5px 0;
                }
                30% {
                    background-position: 15px 0;
                }
                40% {
                    background-position: -5px 0;
                }
                50% {
                    background-position: -25px 0;
                }
                60% {
                    background-position: -50px 0;
                }
                70% {
                    background-position: 0 -20px;
                }
                80% {
                    background-position: -60px -20px;
                }
                81% {
                    background-position: 0 0;
                }
                100% {
                    background-position: 0 0;
                    filter: hue-rotate(360deg)
                }
            }
        }
</style>