<template>
    <v-container>
        <v-layout>
            <v-flex>
                <h1 class="font-weight-bold">Movies</h1>
                <v-card
                    class="mx-auto mb-9"
                    max-width="344"
                    v-for="(movie, i) in allMovies"
                    :key="i"
                    @click="goToMovie(movie._id)"
                >
                    <v-card-text>
                        <div class="d-flex text-left text--primary">
                            Movie name:
                                <div class="text-uppercase body-2 ml-2">"{{ movie.name }}"</div>
                        </div>
                        <div class="text-left text--primary">
                            Runtime in minutes: {{ movie.runtimeInMinutes }}
                        </div>
                        <div class="text-left text--primary">
                            Academy award nominations: {{ movie.academyAwardNominations }}
                        </div>
                        <div class="text-left text--primary">
                            Academy award wins: {{ movie.academyAwardWins }}
                        </div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    computed: {
        ...mapGetters({
            allMovies: 'movie/allMovies'
        })
    },
    methods: {
        ...mapActions({
            fetchEndpoint: 'endpoint/fetchEndpoint'
        }),
        goToMovie(id) {
            this.$router.push(`/movie/${id}`)
        }
    },
    async mounted() {
        this.fetchEndpoint('movie', 'updateMovies')
    }
}
</script>