<template>
    <v-container>
        <v-layout>
            <v-flex d-flex flex-column justify-center align-center>
                <h1 class="book--title mt-12">Title of the book: "{{oneBook.name}}"</h1>
                <nuxt-link :to="`${id}/chapter`" class="mt-9">
                    <v-btn color="primary" large dark width="150">
                        All chapters
                    </v-btn>
                </nuxt-link>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    computed: {
        ...mapGetters({
            oneBook: 'book/oneBook'
        }),
        id() {
            return this.$route.params.id
        }
    },
    methods: {
        ...mapActions({
            fetchBook: 'book/fetchBook'
        }),
        goToChapter(id) {
            this.$router.push(`/book/${id}/chapter`)
        }
    },
    async mounted() {
        this.fetchBook(this.id)
    }
}
</script>

<style scoped>
    .mt-9:hover {
        text-decoration: none;
    }
</style>